# Created by https://www.gitignore.io/api/yii
# Edit at https://www.gitignore.io/?templates=yii

### Yii ###
assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/

# End of https://www.gitignore.io/api/yii