table.detail-view { border: 1px solid #dddddd;}
table.detail-view tbody tr:nth-child(even) { background:white; border: 1px solid #dddddd; }
table.detail-view tbody tr:nth-child(odd) { background:white;  border: 1px solid #dddddd; }
table.detail-view tbody td { border: 1px solid #dddddd; min-width:25%; }
table.detail-view tbody tr.header { background: -webkit-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%); border: 1px solid #dddddd;}
table.detail-view tbody tr.header th { text-align:left; min-width:20%; border: 1px solid #dddddd;}
table.detail-view .null
{
	color: pink;
}

table.detail-view
{
	background: white;
	border-collapse: collapse;
	width: 100%;
	margin: 0;
}

table.detail-view th, table.detail-view td
{
	font-size: 0.9em;
	border: 1px white solid;
	padding: 0.3em 0.6em;
	vertical-align: top;
}

table.detail-view th
{
	text-align: right;
	width: 160px;
	border: 1px solid #dddddd;
}

table.detail-view tr.odd
{
	background:#E5F1F4;
}

table.detail-view tr.even
{
	background:#F8F8F8;
}

table.detail-view tr.odd th
{
}

table.detail-view tr.even th
{
}
